<header class="topbar">

  <div class="topbar__left">
    <!-- Mobile -->
    <button
      type="button"
      class="topbar__menu topbar__menu--mobile"
      aria-label="Abrir menú"
      (click)="handleMobileToggle()">
      <lucide-icon [img]="Menu" [size]="18"></lucide-icon>
    </button>

    <!-- Desktop -->
    <button
      type="button"
      class="topbar__menu topbar__menu--desktop"
      aria-label="Colapsar menú"
      (click)="handleDesktopToggle()">

      <lucide-icon
        [img]="sidebarCollapsed ? PanelLeftOpen : PanelLeftClose"
        [size]="18">
      </lucide-icon>
    </button>

    <div class="topbar__breadcrumb" aria-label="Breadcrumb">
      @for (item of breadcrumb(); track $index) {
        <div class="topbar__breadcrumb-item">
          <span
            class="breadcrumb-label"
            [class.breadcrumb-label--active]="item.active">
            {{ item.label }}
          </span>

          @if (!$last) {
            <lucide-icon
              class="breadcrumb-separator"
              [img]="ChevronRight"
              [size]="14">
            </lucide-icon>
          }
        </div>
      }
    </div>
  </div>

  <div class="topbar__right">
    <button class="topbar__icon" aria-label="Mensajes">
      <lucide-icon [img]="Mail" [size]="17"></lucide-icon>
    </button>

    <button class="topbar__icon topbar__icon--badge" aria-label="Notificaciones">
      <lucide-icon [img]="Bell" [size]="17"></lucide-icon>
      <span class="topbar__badge">3</span>
    </button>

    <div class="topbar__user">
      <div class="topbar__avatar">JG</div>

      <div class="topbar__user-meta">
        <strong>Juan Gutierrez</strong>
        <span>Administrador</span>
      </div>
    </div>
  </div>

</header>